// COLORS
$color-primary: #55c57a;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT CONTROL
$default-font-size: 1.6rem;

// GRID background
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
