.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../commons/images/nat-4.jpg);
  background-size: cover;
  margin-top: -12rem;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -12rem;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../../commons/images/nat-10.jpg);
  background-size: cover;
  border-radius: $border-radius-default;
  box-shadow: $shadow-default;

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
