.popup {
  background-color: rgba($color-black, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    @include center-horizontal-vertical;
    width: 75%;
    background-color: $color-white;
    box-shadow: $shadow-default;
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s 0.2s;
  }

  &__left {
    width: 33.33333333%;
    display: table-cell;
    vertical-align: middle;
  }

  &__right {
    width: 66.666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: $normal-font-size;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    hyphens: auto;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: $medium-font-size;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
